@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
:root{

}
body{
    background: linear-gradient(hsl(273, 75%, 66%),rgb(101, 101, 231));
    /* background-repeat: no-repeat ; */
    background-size: contain;
    height: 100vh;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit','sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{

    border-radius: 20px;
    padding:20px;
    position: relative;
    display: flex;
    background: white;

   
}

 .card-illus-frond, .card-illus-back,.card-box-illus{

     position: absolute;
 }
 .card-box-illus{
    display: none;
 }
  .card-illus-frond {
      z-index: 99;

  }



.card-title{
    margin-top: 0;
    text-align: center;
}
hr{
    width: 100%;
  border: 0.1px solid #e7e7e7;
}

details{

        padding: 5px 20px 5px 0;
    color:#636363ea ;
    text-align: start;
font-size: 12px;
}
summary{
padding-right: 20px;
    display: block;
    cursor: pointer;
position: relative;
&:hover{
    color: hsl(14, 88%, 65%);
}
[open] & {
       font-weight: bold;
       color: black;
    &::after {
         transform: rotateX(180deg)
        }
    }
&::after {
    content: url(../images/icon-arrow-down.svg);
    right: -20px;
    position: absolute;
}
}
.attribution{
    position:absolute;
    bottom: 0;
    padding: 10px;
    color:white
}
@media screen and (max-width:1440px) {
    .card {

align-items: center;
        justify-content: center;
            max-width: 250px;
            padding-top: 100px;
    }

.card-illus-back,.card-illus-frond
{
        height: 200px;
            width: 200px;
            top:-110px;
}
.card-illus-frond {
    background: url(../images/illustration-woman-online-mobile.svg) no-repeat center center;
    background-size: contain;

     
 }
}
@media screen and (min-width:1440px){
   .card{
    padding: 60px 60px 60px 350px;
max-width: 250px;
    overflow: hidden;
   }


.card-illus-frond {
    background: url(../images/illustration-woman-online-desktop.svg) no-repeat center center;;
    background-size: contain;


}
.card-illus-frond{
left: -50px;
top:60px;
    height: 320px;
    width: 320px;
}
.card-illus-back {
    top:-200px;
    left: -430px;
    height:700px;
    width: 700px;
}
.card-box-illus{
    transition: transform 0.5s ;
    width: 120px;
    display: block;
   transform: translate(-60px,195px);
    z-index: 999;
}
.card-title{
    text-align: start;
}
}
